<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="V26GateWay.My.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission=false />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!-- <add name="EventLog" /> -->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!-- <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><applicationSettings>
        <V26GateWay.My.MySettings>
            <setting name="LogFilePath" serializeAs="String">
                <value>D:\Totalpack\Log</value>
            </setting>
            <setting name="IPMC" serializeAs="String">
                <value>[IP]</value>
            </setting>
            <setting name="PortMC" serializeAs="String">
                <value>5091</value>
            </setting>
            <setting name="PortWS" serializeAs="String">
                <value>8181</value>
            </setting>
            <setting name="PortPV" serializeAs="String">
                <value>5004</value>
            </setting>
            <setting name="WAVDir" serializeAs="String">
                <value>C:\inetpub\wwwroot</value>
            </setting>
            <setting name="WAVUrl" serializeAs="String">
                <value>http://[IP]/</value>
            </setting>
            <setting name="EmitirWAV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPOPE" serializeAs="String">
                <value>[IP]</value>
            </setting>
            <setting name="PORTEnc" serializeAs="String">
                <value>5006</value>
            </setting>
            <setting name="WAVfijo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WAVpreGrabado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RutaCertificado" serializeAs="String">
                <value>D:\TotalpacGateWayWS\gestorttp.pfx</value>
            </setting>
            <setting name="HabilitarCertificado" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ClaveCertificado" serializeAs="String">
                <value>G3st0r</value>
            </setting>
        </V26GateWay.My.MySettings>
    </applicationSettings>
</configuration>