<?xml version="1.0"?>
<appSettings>
        <add key="TPMWebService_asmx" value="http://180.122.123.236/monitoreo/tpmwebservice.asmx" />
        <add key="MonitorId" value="[ID]" />
    <add key="LogFileDir" value="D:\Totalpack\Monitoreo\Log" />
    <add key="LogFIleDays" value="8" />
</appSettings>